body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFFFFF;
    height: auto;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: #6E29A9;
}

header{
    display: flex;
    min-height: 78px;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


h1{
    text-align: center;
    text-decoration: none;
    color: #6E29A9;
    margin: 20px 20px 20px 20px;
}

h2{
    text-decoration: none;
    color: #6E29A9;
}

h3{
    text-align: left;
    text-decoration: none;
    color: #1B314F;
    margin: 20px 20px 20px 20px;
}

h4{
    text-align: left;
    text-decoration: none;
    color: #6E29A9;
    margin: 20px 20px 20px 20px;
}

#img1{
    width: 366px;
    height: 250px;
    float: right;
}

#img2{
    width: 366px;
    height: 250px;
    float: left;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

button {
    width: 202px;
    height: 38px;
    border-radius: 6px;
    border: none;
    margin: 2px;
}

.contenedor{
    max-width: 1710px;
    height: 63px;
    margin: auto;
}


.MoradoButton {
    background-color: #6E29A9;
    color: white;
}

.inputR {
    border: none;
    width: 250px;
    font-size: 50px;
    border-radius: 9px;
    text-align: right;
    background-color: #221e1e;
    color: white;
    font-weight: 200;
}
  
::-webkit-input-placeholder {
    color: white;
}

.nombre_sitio_web {
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    color: #6E29A9;
    text-decoration: overline;
}
.titulo_seccion {
    text-align: center;
    font-weight: 900;
    color: #6E29A9;
    font-size: 6.4rem;
}
.linea_subrayar {
    width: 135px;
    height: 6px;
    background-color: #01A1E9;
}

.estadistica {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 4%;
    padding-top: 30px;
}
.estadistica .contenido_estadistica {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.estadistica .contenido_estadistica .extder{
    display: flex;
    float: right;
}

.estadistica .contenido_estadistica figure {
    width: 50%;
    min-width: 500px;
    display: flex;
    justify-content: center;
}
.estadistica .contenido_estadistica figure img {
    width: 75%;
}
.estadistica .contenido_estadistica div {
    width: 50%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.estadistica .contenido_estadistica div p {
    font-size: 2rem;
    line-height: 4rem;
}
.estadistica .contenido_estadistica div button {
    background-color: #6E29A9;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 15px 55px;
    border-radius: 10px;
    border-style: none;
}
.patrocinadores {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patrocinadores figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.patrocinadores figure img {
    margin: 60px 30px 0 30px;
}
.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.noticias .contenido_noticias {
    display: flex;
    flex-wrap: wrap;
}
.noticias .contenido_noticias article {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    margin-top: 90px;
    margin-bottom: 50px;

}
.noticias .contenido_noticias article h1 {
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 2.4rem;
    font-weight: 900;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
}
.noticias .contenido_noticias article h2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 1.4rem;
    font-weight: 400;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
}

.titulo {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.titulo figure {
    width: 100%;
}
.titulo img {
    width: 100%;
}
.titulo h1 {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 5.5vw;
    color: white;
}
  
.input {
    border: none;
    width: 250px;
    font-size: 50px;
    border-radius: 6px;
    text-align: right;
    background-color: #5a5656;
    color: white;
    font-weight: 200;
}
  
.contenedor h2{
    color: #6E29A9;
}

footer{
    
    background-color: #1B314F;
    padding: 70px 0;
}

.footer p{
    font-size: 18px;
    color: white;
    text-align: right;
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}