body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFFFFF;
    height: auto;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: #6E29A9;
}

header{
    display: flex;
    min-height: 78px;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


h1{
    text-align: center;
    text-decoration: none;
    color: #6E29A9;
    margin: 20px 20px 20px 20px;
}

h2{
    text-decoration: none;
    color: #6E29A9;
}

h3{
    text-align: left;
    text-decoration: none;
    color: #1B314F;
    margin: 20px 20px 20px 20px;
}

h4{
    text-align: left;
    text-decoration: none;
    color: #6E29A9;
    margin: 20px 20px 20px 20px;
}

#img1{

    width: 366px;
    height: 250px;
    float: right;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

button {
    width: 95px;
    height: 33px;
    border-radius: 6px;
    border: none;
    margin: 2px;
}

.contenedor{
    max-width: 1710px;
    height: 63px;
    margin: auto;
}


.MoradoButton {
    color: #6E29A9;
}

.inputR {
    border: none;
    width: 250px;
    font-size: 50px;
    border-radius: 9px;
    text-align: right;
    background-color: #221e1e;
    color: white;
    font-weight: 200;
}
  
::-webkit-input-placeholder {
    color: white;
}
  
.input {
    border: none;
    width: 250px;
    font-size: 50px;
    border-radius: 6px;
    text-align: right;
    background-color: #5a5656;
    color: white;
    font-weight: 200;
}
  
.contenedor h2{
    color: #6E29A9;
}

footer{
    
    background-color: #1B314F;
    padding: 70px 0;
}

.footer p{
    font-size: 18px;
    color: white;
    text-align: right;
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}